.tutorial-card{
    display: inline-block;
	position: relative;
	font-size: 24px;
	width: 300px;
	height: 500px;
	border: 1px solid white;
	border-radius: 15px;
	background-color: black;
	color: white;
}
.card-content-container{
    padding: 2em;
}
.card-content{
    margin: 30% auto;
    font-size: 16px;
}