.player-image-container{
    height: 100%;
    width: 100%;
    padding: 1em;
}

.player-image{
    background-color: gray;
    width: 50px;
    height: 90px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 3px 5px 5px 3px black;
}

.player-health-container{
    margin-bottom: 25px;
    width: 100px;
    
}
.health{
    display: inline-block;
    background-color: yellow;
    border: none;
    margin: 0;
    margin-bottom: 20px;
    height: 5px;
    width: 1px;
    float: left;
    box-shadow: 2px 2px 2px black;
}